{% extends "base.html" %}
{% block content %}
<h2>Some things I've built</h2>
<br>

<div class="col-lg-12">
	<h3>Trading Competitions</h3>
	<p>
		During my undergrad, I participated in various trading competitions:
		<br>
		<a href="https://traders.scripts.mit.edu/">Traders at MIT</a>
		<br>
		<a href="http://ritc.rotman.utoronto.ca/">2016 University of Toronto Rotman International Trading Competition</a>
		<br>
		<a href="https://careeradvancement.uchicago.edu/uchicago-midwest-trading-competition">University of Chicago Algo Competition </a>
	</p>

</div>
{% endblock %}