{% extends "base.html" %}
{% block content %}
<h2>Hello</h2>
<p>My name is Thibaut. I recently graduated with a B.S. in Computer Science from the <a href="https://cs.illinois.edu/">University of Illinois at Urbana-Champaign</a>.
I am currently living in Chicago.
</p>

<p>I've previously worked at <a href="http://www.drw.com">DRW Trading</a> (proprietary trading firm) and <a href="http://www.cmegroup.com/">CME Group</a> (futures & derivatives exchange).</p>

<a href="mailto:thibaut.xiong@gmail.com"><i class="fa fa-envelope" style="font-size:36px"></i></a>
<a href="https://github.com/thibautx"><i class="fa fa-github-square" style="font-size:36px"></i></a>
<a href="https://www.linkedin.com/in/thibautx"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
<a href="https://twitter.com/thibautx"><i class="fa fa-twitter-square" style="font-size:36px"></i></a>
<a href="https://news.ycombinator.com/user?id=thibautx"><i class="fa fa-hacker-news" style="font-size:36px"></i></a>

{% endblock %}