{% macro navbar() %}
<div class="header">
	<nav>
		<ul class="nav nav-pills float-xs-right">
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('about.about') }}">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('projects.projects') }}">Projects</a>
			</li>
			<li class="nav-item">
{#				<a class="nav-link" href="{{ url_for('thoughts.thoughts') }}">Thoughts</a>#}
				<a class="nav-link" href="">Thoughts</a>
			</li>
			<li class="nav-item">
{#				<a class="nav-link" href="{{ url_for('thoughts.thoughts') }}">Thoughts</a>#}
				<a class="nav-link" href="">Reading</a>
			</li>
		</ul>
	</nav>
	<h1>Thibaut Xiong</h1>
</div>
{% endmacro %}